.nav-element{
    display: flex;
    flex-direction: column;
    height: 50px;
    line-height: 50px;
  }
  
  .nav-element ul {
      list-style: none;
    }

  .list-div{
      display: flex;
      justify-content: center;
      gap: 20rem;
  }
    
    .nav-element li a {
      text-decoration: none;
      display: flex;
      flex-direction: row;

    }
    